@use 'styles';

.btn{
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: none;
    background-color: styles.$Cyan;
    color: #fff;

    &:active{
        transform: scale(0.98);
        box-shadow: none;
    }
}

.btn--header{
    border-radius: 50px;
    padding: 10px 20px;
}
.btn--main{
    border-radius: 45px;
    font-size: 18px;
    padding: 14px 30px;
}
.btn--input{
    border-radius: 15px;
    width: 150px;
    height: 60px;
}
.btn--footer {
    border-radius: 45px;
    font-size: 18px;
    padding: 14px 30px;
}