@use 'styles';

.btn{
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: none;
    background-color: styles.$Cyan;
    color: styles.$white;

    &:hover{
        background-color: styles.$alterCyan;
    }

    &.copied{
        background-color: styles.$Dark-Violet;
    }
}

.btn--header{
    border-radius: 50px;
    padding: 10px 20px;
}
.btn--input{
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
}
.btn--main{
    border-radius: 45px;
    font-size: 18px;
    padding: 14px 30px;
}

.btn--footer {
    border-radius: 45px;
    font-size: 18px;
    padding: 14px 30px;
}