@use 'styles';

.cardContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    .card{
        display: flex;
        position: relative;
        flex-direction: column;
        flex: 1 1;
        background-color: styles.$white;
        align-items: flex-start;
        margin-top: 80px;
        margin-bottom: 250px;
        padding: 70px 30px 50px 30px;
        max-height: 2700px;
        justify-content: center;
        z-index: 1;

        .card__box__image{
            display: flex;
            position: absolute;
            background-color: styles.$Dark-Violet;
            border-radius: 50%;
            top: -50px;
        }
        .card__image{
            padding: 30px;
            scale: 1.2;
        }
        .card__title{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .card__text {
            font-size: 18px;
        }
    }

    .card:not(:nth-child(1)){

        &::before {
        content: "";
        position: absolute;
        left: -30px;
        top: 100px;
        width: 30px;
        height: 10px;
        background-color: styles.$Cyan;
        }
    }

    .card:nth-child(2){
        top: 50px;
    }
   
    .card:nth-child(3){
        top: 100px;
        &::before {
            top: 50px;
        }
    }
}