@use 'styles';

.navBar-header {
    display: flex;
    justify-content: space-between;
    margin: 2% 8% 2% 8%;
}
.navBar-header-left {
    display: flex;
    align-items: center;
    gap: 25px;
}
.navBar-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.navBar-header-left a , .navBar-header-right a:first-of-type{
    color: styles.$Gray;
}