@use 'styles';

.footerWrapper{
    background-color: styles.$Very-Dark-Violet;
    width: 100%;
    padding: 40px;

    .footer{
        display: flex;
        max-width: 1110px;
        margin: 0 auto;
        gap: 200px;

        .logo-white{
            display: flex;
            margin-top: 50px;
            fill: #ffffff;
        }
        
        .footer__elements{
            display: flex;
            margin-top: 50px;
            justify-content: space-between;
            gap: 60px;

            .footer__text{
                flex-direction: column;
                gap: 10px
            }
            .footer__text a{
                &:hover{
                    color: styles.$Cyan;
                }
            }
            .text__tittle{
                color: #ffffff;
                font-weight: 700;
            }
            .text__normal{
                display: flex;
                color: styles.$Gray;
            }

        }       

        .footer__logos{
            display: flex;
            
            margin-top: 50px;
            gap: 20px;
            cursor: pointer;    
        }
        .logo{
            display: flex;
            fill: #ffffff;
            &:hover{
                fill: styles.$Cyan;
            }
        }   
    }
}