@use 'styles';

.headerWrapper{
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;

    .header__left {
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 15px;
    }
    .header__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
    }
}

.header a{
    color: styles.$Gray;
    &:hover{
        color: black;
    }
}