@use "styles";
@use "header";
@use "downHeader";
@use "input";
@use "resultCard";
@use "content";
@use "footer";
@use "buttons";
@use "card";

* {
  font-family: styles.$fuente;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}

@media screen and (max-width: 1427px) {

  .navWrapper {
    .nav {
      .menuContainer {
        background-color: styles.$Dark-Violet;
        position: absolute;
        padding: 30px 30px;
        border-radius: 8px;
        width: calc(100% - 40px);
        top: 100px;
        z-index: 2;
        display: none;

        &.show {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          gap: 60px;

          &::before{
            content: "";
            position: absolute;
            display: flex;
            width: 95%;
            height: 1px;
            top: 170px;
            background-color: styles.$Grayish-Violet;
          }
        }

        .nav__left {
          ul {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            li {
              a {
                color: styles.$white;

                &:hover {
                  color: styles.$Cyan;
                }
              }
            }
          }
        }

        .nav__right {
          gap: 20px;
          margin: 0;
          flex-direction: column;
          position: relative;

          a {
            color: styles.$white;

            &:hover {
              color: styles.$white;
            }
          }
          
        }
      }

      .nav__hamburguer {
        display: block;
        margin-left: auto;
      }
    }
  }


  .Container {
    flex-direction: column-reverse;
    gap:400px;
    margin-bottom: 60px;
    justify-content: space-between;
    align-items: center;
    margin: 150px auto 90px !important;

    .Container__rightImage {
      display: flex;
      position: relative !important;
      svg {
        top: -120px !important;
        left: -130px;
      }
    }
    .Container__leftText {
      text-align: center;
      justify-content: center;
      align-items: center !important;
      .letter1 {
        font-size: 60px;
        line-height: 50px;
      }
    }
  }


  .inputContainer__inputGroup{
    padding: 30px 0px;
  }

  .inputGroup__content{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .inputGroup__content button, input{
    width: 90% !important;
    padding: 10px 20px !important;
  } 

  .inputGroup__content button{
    font-size: 20px;
  }

  .shortedUrlWrapper{
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;

    &::before{
      content: "";
      position: absolute;
      display: flex;
      width: 100%;
      height: 3px;
      left: 0px;
      top: 50px;
      background-color: styles.$Gray2;
    }
  }

  .shortedUrlWrapper button{
    width: 100%;
    font-size: 20px;
  }

  .cardContainer {
    flex-direction: column;
    margin: 100px 0px 200px 0px;
    .card {
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
    }

    .card:not(:nth-child(1)) {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -80px;
        width: 10px;
        height: 50px;
        margin: 0 auto;
        background-color: styles.$Cyan;
      }
    }

    .card__box__image {
      position: relative;
    }
  }

  .footer{
    flex-direction: column;
    gap: 0 !important;

    .logo-white{
      justify-content: center;
    }
    .footer__elements{
      flex-direction: column;
      margin: auto;
      gap: 40px !important;
      .footer__text{
        text-align: center ;
      }
      .text__tittle{
        text-align: center;
      }
      .text__normal{
        justify-content: center;
      }

    }
    .footer__logos{
      justify-content: center;
    }
  }

}
