@use "styles";
@use "header";
@use "hero";
@use "input";
@use "content";
@use "footer";
@use "buttons";
@use "card";

* {
  font-family: styles.$fuente;
  font-weight: 500;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
body {
  max-width: 1440px;
  max-height: 2269px;
  padding: 40px 150px;
  margin: 0 auto;
  overflow-x: hidden;
}

@media screen and (max-width: 1427px) {
  .mainContainer {
    flex-direction: column-reverse;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
    .mainContainer__rightImage {
      display: flex;
      position: static;
      justify-content: flex-end;
      svg {
        position: static;
      }
    }
    .mainContainer__leftText {
      text-align: center;
      justify-content: center;
      align-items: center;
      .letter1 {
        font-size: 60px;
        line-height: 40px;
      }
    }
  }
  .cardContainer {
    flex-direction: column;
    margin: 100px 0px 200px 0px;
    .card {
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
    }

    .card:not(:nth-child(1)) {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -80px;
        width: 10px;
        height: 50px;
        margin: 0 auto;
        background-color: styles.$Cyan;
      }
    }

    .card__box__image {
      position: relative;
    }
  }
}
