@use 'header';
@use 'styles';
@use 'body';
@use 'buttons';

* {
    font-family: styles.$fuente;
    font-weight: 500 ;
}
* a {
    text-decoration: none;
}

body{
    margin: 0 auto;
    // background: linear-gradient( white 50% , styles.$Gray2 50%);
    overflow-x: hidden;
}

#root{
    padding: 40px;

}