@use "styles";

.inputWrapper{
    background: linear-gradient(#fff 50%, styles.$Gray2 50%);
    width: 100%; 
    
    .shortenerContainer__inputGroup{
        margin: 0 auto;
        max-width: 1110px;

        display: flex;
        justify-content: center;
        border-radius: 10px;
        padding: 40px;
        gap: 30px;

        background-image: url('../images/bg-shorten-desktop.svg');
        background-color: styles.$Dark-Violet;
        background-size: cover;
        background-repeat: no-repeat;

        .shortenerInput{
            font-size: 18px;
            border-radius: 10px;
            border: none;
            padding: 15px 30px;
            width: 70%;
        }
    
        .shortenerButton {
            font-size: 18px;
            border-radius: 10px;
            border: none;
            padding: 15px 20px;
            width: 15%;
        }
    }
    
}

.resultCard__wrapper{
    background-color: styles.$Gray2;
    width: 100%;

    .resultCard__content{
        margin: 0 auto;
        max-width: 1110px;
        
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px 0px;

    }
}
    