@use "styles";

.inputWrapper{
    background: linear-gradient(#fff 50%, styles.$Gray2 50%);
    width: 100%; 
}

.inputContainer__inputGroup{
    display: flex;
    max-width: 1440px; 
    align-items: center;
    justify-content: center;
    background-image: url('../images/bg-shorten-desktop.svg');
    background-color: styles.$Dark-Violet;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 40px;
    
    .inputGroup__content {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }
    .inputGroup__content input {
        font-size: 18px;
        width: 50%;
        border-radius: 10px;
        border: none;
        padding: 0 30px;
    }

    .inputGroup__content button {
        width: 15%;
    }
}

.downInputWrapper{
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 20px 0px;
    background-color: styles.$Gray2;
}